* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

.flex {
    display: flex;
}

.head-container {
    border: solid 5px rgb(125, 250, 114);
    /* 7 */
    margin: 0 auto;
    max-width: 1906px;
    
}

.main-container {
    border: solid 5px #FF7A00;
    min-height: 53px;
    margin: 0 auto;
    max-width: 1192px;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

[class^='col'] {
    background-color: #CF003E;
    flex-basis: calc((100% - 10px) / 4);
    max-height: 34px;
    border: 1px solid white;
   
}

.col-2 {
    flex-grow: 1;
}

