* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

body {
    margin: 0 auto;
    max-width: 1906px;
}

.flex {
    display: flex;
}

/* HEADER */
.head-container {
    border: solid 5px rgb(125, 250, 114);
    margin: 0 auto;
    max-width: 1906px;
    
}

.main-container {
    /* border: solid 5px #FF7A00; */
    min-height: 53px;   /* FIXME: */
    margin: 0 auto;
    max-width: 1192px;
    /* justify-content: space-between; */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

[class^='col'] {
    /* background-color: #CF003E; */
    /* flex-basis: calc((100% - 10px) / 4); */
    flex-basis: 25%;
    max-height: 34px;
    /* border: 1px solid white;  */
}

.col-2 {
    flex-grow: 1;
}

.col-3 {
    justify-content: flex-end;
}

#acces {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.head-list {
    justify-content: space-between;
}

#b-blue {
    background-color: cornflowerblue;
}
/* FINE HEADER INIZIO SECTION */

.section-container {
    border: 5px solid blue;
    justify-content: center;
    padding-top: 42px;
    padding-bottom: 42px;  
}

.div-container {
    border: solid 5px #FF7A00;
    min-width: 1192px;  /* FIXME: */
    min-height: 409px;  /* FIXME: */
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 145px;
    padding-right: 146px;
            
}

.div-main {
    border: solid 5px yellow;
    min-width: 901px;   /* FIXME: */
    min-height: 387px;  /* FIXME: */
       
}

/* Creazione sezione che puoi verrà Triplicata */

.section-container-2 {
    border: 5px solid blue;
    min-width: 1906px;  /* FIXME: */
    min-height: 601px;  /* FIXME: */
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 39px;
}

.div-container-2 {
    border: 5px solid #FF7A00;
    min-width: 1192px;  /* FIXME: */
    min-height: 522px;  /* FIXME: */
    
}

.div-main-60 {
    border: solid 5px black;
    flex-basis: 60%;
}

.div-main-40 {
    border: solid 5px grey;
    flex-basis: 40%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.section-container-3 {
    border: 5px solid rgb(228, 17, 10);
    max-width: 1906px;
    max-height: 731px;
}

.div-container-3 {
    border: 5px solid blue;
    padding-top: 19px;
    padding-bottom: 24px;
}

.div-container-4 {
    border: 5px solid blue;
}

.div-container-3-1 {
    border: 5px solid yellow;
    margin: 0 auto;
    max-width: 1192px;
    max-height: 553px;
    justify-content: center;
}

.tab {
    min-width: 193px;   /* FIXME: */
    min-height: 536px;  /* FIXME: */
    border: solid 1px black;
}

.div-container-4-1 {
    border: solid 5px orange;
    margin: 0 auto;
    max-width: 1192px;
    max-height: 58px;
    padding-top: 17px;
    padding-bottom: 8px;
    justify-content: space-between;

}

.slot {
    border: solid 5px black;
    min-width: 74px;    /* FIXME: */
    min-height: 33px;   /* FIXME: */
}


