* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

body {
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* HEADER */
.head-container {
    /* border: solid 5px rgb(125, 250, 114); */
    margin: 0 auto;
    max-width: 1906px;
    padding-top: 15px; 
}

.main-container {
    /* border: solid 5px #FF7A00; */
    /* min-height: 53px;   FIXME: */
    margin: 0 auto;
    max-width: 1192px;
    /* justify-content: space-between; */
    padding-bottom: 5px;
    padding-top: 5px;
    /* padding-left: 1px;
    padding-right: 1px; */
}

[class^='col'] {
    /* background-color: #CF003E; */
    /* flex-basis: calc((100% - 10px) / 4); */
    flex-basis: 25%;
    /* max-height: 34px; */
    /* border: 1px solid white;  */
}

.col-2 {
    flex-grow: 1;
    line-height: 30px;
}

.col-3 {
    justify-content: flex-end;
}

#acces {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    background-color: white;
    border-radius: 70px;
    padding: 0 15px;
    line-height: 37px;
}

.head-list {
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

#b-blue {
    background-color: #255EE9;
}
/* FINE HEADER INIZIO SECTION */

/* PRIMA SEZIONE */

.section-container {
    /* border: 5px solid blue; */
    /* justify-content: center; */
    padding-top: 42px;
    padding-bottom: 42px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.div-container {
    /* border: solid 5px #FF7A00; */
    max-width: 1192px;
    margin: 0 auto;
    min-height: 409px;  /* FIXME: */
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;         
}

.div-main {
    /* border: solid 5px yellow; */
    max-width: 680px;
    min-height: 387px;  /* FIXME: */
       
}

.div-container * {
    text-align: center;
    padding: 25px;
    color: white;
    font-weight: bold;
}

.div-container h1 {
    font-size: 2.5em;
}

.div-container a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    border-radius: 70px;
}

#button-1 {
    border-radius: 70px;
    background-color: white;
    color: black;
}

#button-2 {
    background-color: rgb(26, 29, 32);
    margin-left: 20px;
}
/* FINE PRIMA SEZIONE */

/* Creazione sezione che puoi verrà Triplicata */

.section-container-2 {
    /* border: 5px solid blue;        */
    min-height: 601px;  /* FIXME: */
    padding-top: 40px;
    padding-bottom: 39px;
}

.div-container-2 {
    /* border: 5px solid #FF7A00; */
    /* max-width: 1906px;
    margin: 0 auto;  */
    min-height: 522px;  /* FIXME: */
    max-width: 1100px;
    margin: 0 auto;    
}

.div-main-60 {
    /* border: solid 5px black; */
    flex-basis: 60%;
}

.div-main-40 {
    /* border: solid 5px grey; */
    flex-basis: 40%;
}

/* #img-1 img {
    /* padding-left: 50px; 
} */


#text-1 {
    padding: 25px 15px 15px 25px;
    /* text-align: left; */
    /* max-width: 410px; */
    /* margin: 0 auto; */
}

#text-1  h2 {
    font-size: 2.5em;
}

#text-1 p {
    padding-top: 25px;
    font-size: 1.5em;
}

/* #max-1 {
    max-width: 1100px;
    margin: 0 auto;
} */
/* FINE PRIMA PARTE DELLA SEZIONE PRINCIPALE */

/* INIZIO SECONDA PARTE SEZIONE PRINCIPALE */

#text-2, #text-3 {
    padding: 25px;
}

#text-2 h2 {
    font-size: 2.5em;
}

#text-2 p {
    font-size: 1.5em;
    padding-top: 25px;
}
.row-reverse {
    flex-direction: row-reverse;
}
/* FINE SECONDA PARTE SEZ PRINC */
/* INIZIO TERZA PARTE SEZ PRINC */

#text-3 h2 {
    font-size: 2em;
}

#text-3 p {
    padding-top: 25px;
    font-size: 1.5em;
}

/* FINE TERZA PARTE SEZIONE PRINC */
/* INIZIO PARTE QUATTRO */

#back-star {
    background-image: url(../img/stars.svg);
    background-position: center;
}

.div-container-5 {
    /* border: 5px solid salmon; */
    max-width: 1110px;
    margin: 0 auto;
    min-height: 400px;
    padding: 40px;
}
.w-100 {
    flex-basis: 100%;
    text-align: center;
}

.w-100 h2 {
    font-size: 2.5em;
}

.w-100 p {
    padding-top: 25px;
    /* padding-left: 144px;
    padding-right: 144px; */
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.25em;
}

.w-100 h3 {
    padding-bottom: 25px;
    font-size: 1.5em;
    max-width: 900px;
    margin: 0 auto;
}

.w-100 a {
    font-style: normal;
    font-weight: bold;
    border-radius: 70px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    line-height: 60px;
    padding: 15px;
}
/* INIZIO PARTE CINQUE CIOE' FOOTER */

.section-container-3 {
    /* border: 5px solid rgb(228, 17, 10); */
    max-height: 731px;
    background-color: rgb(53, 69, 92);
}

.div-container-3 {
    /* border-bottom: 2px solid cornflowerblue; */
    padding-top: 19px;
    padding-bottom: 24px;
    max-width: 1100px;
    margin: 0 auto;
}

/* .div-container-4 {
     border: 5px solid blue; 
} */

.div-container-3-1 {
    /* border: 5px solid yellow; */
    margin: 0 auto;
    max-width: 1100px;
    max-height: 553px;
    justify-content: center;
}

/* DA RIVEDERE QUESTA CLASSE CSS */

 .tab { 
    min-width: 193px;   
    min-height: 536px;
    /* border: solid 1px black; */
} 

.div-container-4-1 {
    /* border: solid 5px orange; */
    margin: 0 auto;
    max-width: 1100px;
    /* max-height: 58px; */
    /* padding-top: 17px; */
    padding-bottom: 8px;
    justify-content: space-between;

}

/* .slot {
    border: solid 5px black;
    min-width: 74px;    
    min-height: 33px;   
} */


#grow-1 {
    flex-grow: 1;
}

.tab li {
    padding: 15px 10px;
}

#grow-1 img {
    max-width: 25px;
}

#grow-1 h3 {
    padding: 25px;
    color: cornflowerblue;
    font-size: 2em;
}

#grow-1 p {
    padding: 25px;
}

#social a {
    padding-left: 25px;
}

.tab ul li:first-child {
    padding-top: 25px;
    color: cornflowerblue;
}

.div-container-3-1 * {
    font-weight: bold;
    color: white;
}

#reg {
    font-weight: bold;
    text-decoration: none;
    border-radius: 70px;
    color: white;
    background-color: cornflowerblue;
    line-height: 40px;
    padding: 8px;
}

/* TEST PER LE WAVE */

/* body {
    background-color: rgb(170, 169, 169);
} */

/* .b-wave {
    background-image: url(../img/wave.svg);    
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.473);
    
     
} */